/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
  justify-content: center;
  display: flex;
  padding: 20px;
}

.header a {
  text-decoration: none;
}

.footer a{
  text-decoration: none;
  justify-content: center;
  display: flex;
  font-size: 1.4rem;
}

form {
  padding-left: 39.5rem;
}

form.button_to {
  padding-left: 42rem;
}

.content {
  padding-left: 38rem;
}
.content-item {
  padding-left: 42rem;
}

label {
  margin-right: 1rem;
}

input {
  align-items: flex-end;
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}


.form-actions {
  margin-top: 5px;
}

table {
  padding-left: 25rem;
}
table.list {
  padding-left: 10rem;
  text-align: center;
}


th {
  padding: 15px 55px;
}
td {
  padding: 10px;
}

select {
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}

.middle-link {
  justify-content: center;
  display: flex;
}